body{
    margin:0px;
    padding:0px;
}
#head{
    width:78%;
    height:100px;
    margin-left:11%;
    background-image: url("../img/timg.jpg");

}
#content{
width:78%;
margin-left:11%;
min-height:480px;
}
#Left{
    float:left;
    min-height:480px;
    width:25%;
    background: #dffffa;
}
#message{
    float:left;
    min-height:480px;
    width:48%;
    position:relative;
    left:10px;
    background: #efffe9;
}
#right{
    float:right;
    min-height:480px;
    width:25%;
    background: #e4ffcc;
}

#foot{
    width:78%;
    background-color: #d8ddc6;
    margin-left:11%;
    text-align:center;
    vertical-align:middle;
    line-height: 70px;
    font-size:22px;
}


#menu{
    width:100%;
    height:40px;
    background-color:rgba(24,127,215,1);
    position:relative;
    left:0px;
    top:0px;

}
.nav{
    list-style-type:none;
    color:#FFF;
    line-height:40px;
    font-family:"黑体";
    font-size:20px;
}
.nav li{
    float:left;
}
.nav li a{
    text-decoration:none;
    width:160px;
    display:block;
    text-align:center;
    border-left:1px solid white;
}
.nav li a:link{
    color:#FFF;
}
.nav li a:visited{
    color:#FFF;
}
.nav li a:hover{
    background-color: rgb(238, 235, 231);
}
.nav li a:active{
    color:#0FF;
}