body{
    margin:0px;
    padding:0px;
}
#head{
    position:relative;
    width:78%;
    height:100px;
    margin-left:11%;
    background:#D8D8D8;

}
#content{
position:relative;
width:78%;
margin-left:11%;
min-height:380px;
}
#foot{
    position:relative;
    width:78%;
    min-height:120px;
    margin-left:11%;
    margin-top:10px;
    background:#EDEDED;
}